# Environment variables
.env
*.local

# Python
__pycache__/
*.py[cod]
*.pyc

# Virtual environment
venv/
.venv/
env/

# Django
db.sqlite3
db.sqlite3-3
media/
staticfiles/

# Node
node_modules/
dist/

# Editors
.vscode/
.idea/
.DS_Store